In [2]:
primes = [2, 3, 5, 7]

for item in primes:
    print(item)

2
3
5
7

In [4]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)
    
print("----------")

# Prints out 3,4,5
for x in range(3, 6):
    print(x)
    
print("----------")

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

0
1
2
3
4
----------
3
4
5
----------
3
5
7

In [7]:
# while loop:

count= 0

while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [15]:
count= 0

while True:
    print(count)
    count+=1
    if count>=5:
        break
        
print("-----------")    

for x in range(10):
    if x%2==0:
        continue
    print(x)

0
1
2
3
4
-----------
1
3
5
7
9

In [17]:
count= 0
while(count<5):
    print(count)
    count+=1
    
else:
    print("Count value reached %d" %(count))

0
1
2
3
4
Count value reached 5

In [22]:
for i in range(1,10):
    if(i%5==0):
        break
    print(i)
    
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

## Exercise:

Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 237 in the sequence.

In [29]:
numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527]

# your code goes here
for item in numbers:
    
    if (item==237):
        break
        
    if item%2==1:
        continue
        
    print(item)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918