# <center> 26.Map, Filter, Reduce

https://www.learnpython.org/en/Map,_Filter,_Reduce

## Map


The map() function in python has the following syntax:

map(func, *iterables)

Where func is the function on which each element in iterables (as many as they are) would be applied on. Notice the asterisk(*) on iterables? It means there can be as many iterables as possible, in so far func has that exact number as required input arguments. Before we move on to an example, it's important that you note the following:

In Python 2, the map() function returns a list. In Python 3, however, the function returns a map object which is a generator object. To get the result as a list, the built-in list() function can be called on the map object. i.e. list(map(func, *iterables))
The number of arguments to func must be the number of iterables listed.
Let's see how these rules play out with the following examples.

Say I have a list (iterable) of my favourite pet names, all in lower case and I need them in uppercase. Traditonally, in normal pythoning, I would do something like this:

In [4]:
my_pets=['alfraid','tabitha','william','arla']

uppered_pets=[]

for pet in my_pets:
    pet= pet.upper()
    uppered_pets.append(pet)
    
print(uppered_pets)

['ALFRAID', 'TABITHA', 'WILLIAM', 'ARLA']

With map() functions, it's not only easier, but it's also much more flexible. I simply do this

In [8]:
# map function:
my_pets=['alfraid','tabitha','william','arla']

uppered_pets=list(map(str.upper,my_pets))

print(uppered_pets)

['ALFRAID', 'TABITHA', 'WILLIAM', 'ARLA']

In [12]:

circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result= list(map(round,circle_areas,range(1,7)))

print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [13]:

circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result= list(map(round,circle_areas,range(1,3)))

print(result)

[3.6, 5.58]

The same thing happens if circle_areas is less than the length of the second iterable. Python simply stops when it can't find the next element in one of the iterables.

To consolidate our knowledge of the map() function, we are going to use it to implement our own custom zip() function. The zip() function is a function that takes a number of iterables and then creates a tuple containing each of the elements in the iterables. Like map(), in Python 3, it returns a generator object, which can be easily converted to a list by calling the built-in list function on it. Use the below interpreter session to get a grip of zip() before we create ours with map()

In [16]:
my_strings = ['a','b','c','d','e']
my_numbers = [1,2,3,4,5]

results= list(zip(my_strings,my_numbers))
print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [17]:
my_strings = ['a','b','c','d','e']
my_numbers = [1,2,3,4,5]

results=list(map(lambda x,y:(x,y),my_strings,my_numbers))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

## Filter


While map() passes each element in the iterable through a function and returns the result of all elements having passed through the function, filter(), first of all, requires the function to return boolean values (true or false) and then passes each element in the iterable through the function, "filtering" away those that are false. It has the following syntax:

filter(func, iterable)

The following points are to be noted regarding filter():

Unlike map(), only one iterable is required.
The func argument is required to return a boolean type. If it doesn't, filter simply returns the iterable passed to it. Also, as only one iterable is required, it's implicit that func must only take one argument.
filter passes each element in the iterable through func and returns only the ones that evaluate to true. I mean, it's right there in the name -- a "filter".
Let's see some examples

The following is a list (iterable) of the scores of 10 students in a Chemistry exam. Let's filter out those who passed with scores more than 75...using filter.

In [23]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_Student(scores):
    return scores >75

over75=list(filter(is_A_Student,scores))

print(over75)

[90, 76, 88, 81]

The next example will be a palindrome detector. A "palindrome" is a word, phrase, or sequence that reads the same backwards as forwards. Let's filter out words that are palindromes from a tuple (iterable) of suspected palindromes.

In [24]:
# Python 3
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")

palindromes=list(filter(lambda word: word==word[: : -1],dromes))

print(palindromes)

['madam', 'anutforajaroftuna']

## Reduce


reduce applies a function of two arguments cumulatively to the elements of an iterable, optionally starting with an initial argument. It has the following syntax:

reduce(func, iterable[, initial])

Where func is the function on which each element in the iterable gets cumulatively applied to, and initial is the optional value that gets placed before the elements of the iterable in the calculation, and serves as a default when the iterable is empty. The following should be noted about reduce(): 1. func requires two arguments, the first of which is the first element in iterable (if initial is not supplied) and the second element in iterable. If initial is supplied, then it becomes the first argument to func and the first element in iterable becomes the second element. 2. reduce "reduces" (I know, forgive me) iterable into a single value.

As usual, let's see some examples.

Let's create our own version of Python's built-in sum() function. The sum() function returns the sum of all the items in the iterable passed to it.

In [26]:
from functools import reduce

numbers=[3,4,6,9,34,12]

def custom_sum(first,second):
    return first + second

result = reduce(custom_sum,numbers)
print(result)

68

## Exercise

In this exercise, you'll use each of map, filter, and reduce to fix broken code.

In [60]:
from functools import reduce 

# Use map to print the square of each numbers rounded to three decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
map_result=list(map(lambda x:round(x**2,3),my_floats))

# Use filter to print only the names that are less than  or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]
filter_result= list(filter(lambda x : len(x)<=7,my_names))


# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]
reduce_result= (reduce(lambda x,y:x*y,my_numbers))

print(map_result)
print(filter_result)
print(reduce_result)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]
['olumide', 'josiah', 'omoseun']
24840

In [55]:
# Use map to print the square of each numbers rounded to three decimal places
mapSquare=list(map(lambda x:round(x**2,3),my_floats))
print(mapSquare)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]

In [53]:
# Use filter to print only the names that are less than  or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]

def Letters7(my_names):
    return len(my_names)<=7
    
Lett7= list(filter(Letters7,my_names))
print(Lett7)

['olumide', 'josiah', 'omoseun']

In [58]:
# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]
ReduceProd= (reduce(lambda x,y:x*y,my_numbers))
print(ReduceProd)

24840

In [1]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway",hall,"Kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]

# Print areas
print(areas)

['hallway', 11.25, 'Kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [2]:

a=[1 + 2, "a" * 5, 3]
print(a)

[3, 'aaaaa', 3]


### PRACTICE ====================================================================

In [7]:

# Normal function

my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets=[]

for pet in my_pets:
    pet=pet.upper()
    
    uppered_pets.append(pet)
    
print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

## Map

In [ ]:
The map() function in python has the following syntax:

map(func, *iterables)

In [8]:
##1. map 

my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets=list(map(str.upper,my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [9]:

circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result= list(map(round,circle_areas,range(1,7)))

print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [10]:

circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]
result= list(map(round,circle_areas,range(1,3)))
print(result)

[3.6, 5.58]

In [15]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]
results=list(zip(my_strings,my_numbers))
print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [16]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]
results=list(map(lambda x,y : (x,y),my_strings,my_numbers))
print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

## Filter

In [ ]:
syntax:

filter(func, iterable)

In [17]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def A_Student(score):
    return score > 75

over75=list(filter(A_Student,scores))
print(over75)

[90, 76, 88, 81]

In [20]:
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")

palindromes=list(filter(lambda word : word==word[ : : -1],dromes))

print(palindromes)

['madam', 'anutforajaroftuna']

## Reduce

In [ ]:
syntax:

reduce(func, iterable[, initial])

In [21]:
# Python 3
from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers)
print(result)

68

In [23]:
# Python 3
from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers, 10)
print(result)

78

## Exercise:

In [52]:
from functools import reduce 

# Use map to print the square of each numbers rounded to three decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]

# Use filter to print only the names that are less than  or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]

# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]

# Fix all three respectively.
map_result = list(map(lambda x: round(x**2,3), my_floats))
filter_result = list(filter(lambda name:len(name)<=7,my_names))
reduce_result = reduce(lambda x, y: x * y, my_numbers)

print(map_result)
print(filter_result)
print(reduce_result)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]
['olumide', 'josiah', 'omoseun']
24840

In [37]:
## Use map to print the square of each numbers rounded to three decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
map_result = list(map(lambda x: round(x**2,3), my_floats))
print(map_result)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]

In [48]:
## Use filter to print only the names that are less than  or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]
filter_result = list(filter(lambda name:len(name)<=7,my_names))
print(filter_result)

['olumide', 'josiah', 'omoseun']

In [49]:
# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]
reduce_result = reduce(lambda x, y: x * y, my_numbers)
print(reduce_result)

24840